@font-face {
    font-family: 'Prata';
    src: url(../fonts/Prata-Regular.ttf);
    font-style: normal;
    font-weight: 400;
}

/* ----- colors ----- */

:root {
  --DarkGrey: #3C3C42;
  --FadedGrey: #C4C4C6;
  --LightPink: #FFFCFA;
  --White: #FFFFFF;
  --DarkPink: #FFD4D0;
  --VeryDarkPink: #FFACA5;
}

* {
  box-sizing: border-box;
}

/* ----- font styles ----- */

body {
  background-color: var(--LightPink);
  font-family: montserrat, sans-serif;
  font-size: 16px;
  color: var(--DarkGrey);
}

footer {
  background: var(--DarkGrey);
  height: 100px;
  width: 100%;
}

p {
  line-height: 30px;
  margin: 16px 0;
}

h1 {
  font-size: 3.750rem;
  margin: 0;
}

h6 {
  font-family: Prata;
  font-size: 1.5rem;
  font-weight: normal;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: prata, sans-serif;
}

/* button element */
.button {
  display: flex;
  align-items: center;
  margin: 0 auto;
  height: 42px;
  font: normal normal bold 0.875em/1.875em montserrat;
  text-transform: uppercase;

  color: var(--White);
  background-color: var(--VeryDarkPink);
  border-color: var(--VeryDarkPink);

  padding: 16px;
  border-radius: 5px;
}



/* ----- navigation ------  */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  background-color: var(--DarkGrey);
  padding: 4px 5%;
}

ul {
  padding: 0;
}

li,
a {
  text-decoration: none;
  list-style: none;
  color: var(--FadedGrey);
}

.nav-links {
  display: flex;
  justify-content: space-around;
  flex-basis: 500px;

  font-weight: bold;
}

.active {
  color: var(--White);
  border-bottom: 5px solid var(--White);
  padding-bottom: 15px;
}

/* pseudo-classes */
.nav-links a:hover {
  color: var(--VeryDarkPink);
}

.nav-links a:active {
  color: var(--White);
}

.active:hover {
  color: var(--White) !important;
}


/* main container */
.container {
  padding: 0 5%;
  min-height: calc(100vh - 70px);
}


/* header text */
.hero-text {
  text-align: center;
  margin: auto;
  margin-top: 64px;
  max-width: 950px;
}

/* -------- Cards -------- */

.cards,
.card,
.card-text,
.cards-sml,
.card-sml {
  display: flex;
}

.card,
.card-sml {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* cards radius */
.card,
.card-img-sml,
.card-sml {
  border-radius: 5px;
}

.cards,
.cards-sml {
  flex-direction: row;
  flex-wrap: wrap;
}


/* -------- cards for large screens -------- */
.card {
  flex-wrap: wrap;
  flex: 1 500px;
  height: 400px;

  margin: 24px;
  padding: 8px;
}

.card-image {
  border-radius: 5px;
  width: 50%;
}

.card-text {
  flex-direction: column;
  padding: 24px;
  width: 50%;
}

.card-image-FMP {
  background: url(../img/FMP.png) center / cover;
}

.card-image-PR {
  background: url(../img/Public-Relations.png) center / cover;
}

.card-image-FM {
  background: url(../img/fashion-media.png) center / cover;
}

.card-image-CD {
  background: url(../img/concept-developments.png) center / cover;
}

.btn-lrg {
  margin-top: auto;
  color: var(--VeryDarkPink);
  background-color: inherit;
  border-color: transparent;
}

.btn-lrg:hover {
  color: var(--White);
  border-color: var(--White);
  background-color: var(--VeryDarkPink);
}

/* -------- cards for small screens -------- */
.cards-sml {
  justify-content: center;
}

.card-sml {
  margin-bottom: 48px;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.card-img-sml,
.card-text-sml {
  width: 100%;
  width: 100%;
}

.card-text-sml {
  border-radius: 0 0 5px 5px;
}

.card-img-sml {
  max-height: 500px;
  max-width: 500px;
}

.card-text-sml {
  bottom: 0;
  padding: 8px;
  text-align: center;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.9);
}

.btn-sml {
  display: inline-flex;
}


/* ------------- cards for small screen ------------ */
/* ----- @media queries ----- */
@media (min-width: 768px) {
  .cards-sml {
    display: none;
  }
}

@media (max-width: 768px){

  .cards {
    display: none
  }

  nav {
    justify-content: space-around;
  }

  .nav-links {
    flex-basis: 800px;
  }

  .hero-text {
    margin-top: 32px;
  }
  .extra-hero-text {
    display: none;
  }
}

@media (max-width: 375px) {
  nav {
    padding: 0 2.5%;
  }

  h1 {
    font-size: 2.500rem;
  }

  .container {
    padding: 0 2.5%;
  }
}
