@font-face {
    font-family: 'Prata';
    src: url(../fonts/Prata-Regular.ttf);
    font-style: normal;
    font-weight: 400;
}

/* ----- colors ----- */

:root {
  --DarkGrey: #3C3C42;
  --FadedGrey: #CECED0;
  --LightPink: #FFFCFA;
}

* {
  box-sizing: border-box;
}

/* ----- font styles ----- */

body {
  font-family: montserrat, sans-serif;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: prata, sans-serif;
}


/* navigation  */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  background-color: var(--DarkGrey);
  padding: 0 5%;
}

ul {
  padding: 0;
}

li,
a {
  text-decoration: none;
  list-style: none;
  color: white;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  flex-basis: 500px;

  font-weight: bold;
}

@media (max-width: 768px){
  nav {
    justify-content: space-around;
  }
  .nav-links {
    flex-basis: 800px;
  }
}
